{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:jasmine/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "prefer-object-spread",
    "filenames",
    "dollar-sign",
    "jasmine"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "rules": {
    "eol-last": 2,
    "guard-for-in": "error",
    "object-curly-spacing": 0,
    "prefer-destructuring": "error",
    "func-names": "error",
    "func-name-matching": [
      "error",
      {
        "includeCommonJSModuleExports": true
      }
    ],
    "no-confusing-arrow": "error",
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": false,
        "allowUnboundThis": true
      }
    ],
    "prefer-object-spread/prefer-object-spread": 2,
    "filenames/match-regex": [2, "^[a-z\\.]+$", true],
    "filenames/no-index": 2,
    "dollar-sign/dollar-sign": [2, "ignoreProperties"]
  }
}
