section#businesses
    div.collection(data-bind="foreach: businesses")
        a.collection-item(data-bind="click: $parent.selectBusinessId.bind($data, id), attr: {href: href}")
            h5.black-text(data-bind="text: name")

