doctype html
html(lang="en")
    head
        meta(charset='UFT-8')
        meta(name='viewport' content='width=device-width,height=device-height,initial-scale=1.0')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title Nice Stops in Los Angeles
        // inject:css
        // endinject
    body
        // inject:js
        // endinject
        include ./header.pug
        include ./sidemenu.pug
        div.map-container
            section#map

        div#toast-container
        script $(".button-collapse").sideNav();
