doctype html
html(lang="en")
    head
        meta(charset='UFT-8')
        title Nice Stops in Los Angeles
    body
        div.row
            div.col.s3
                != require('apply-loader!pug-loader!./sidemenu.pug')
            div.col.s9.map-container
                section#map
