doctype html
html(lang="en")
    head
        meta(charset='UFT-8')
        title Nice Stops in Los Angeles
    body
        != require('apply-loader!pug-loader!./search.pug')
        != require('apply-loader!pug-loader!./businessselector.pug')
        div#map
