nav
    div.nav-wrapper.blue
        form(onSubmit="return false;")
            div.input-field
                input#search(placeholder="filter" type="search" data-bind="textInput: searchQuery" required)
                label.label-icon(for="search")
                    i.material-icons search
